.wrapper.product {
    height: 650px;
    width: 1000px;
    top: 10px;
}

.wrapper.user {
    height: 650px;
    width: 500px;
    top: 10px;
}

.column {
    width: 430px
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-container.product {
    flex-direction: row;
}

.form-container.user {
    flex-direction: column;
}

.footer {
    display: flex;
    column-gap: 50px;
}

.textarea-box {
    margin: 15px 0 15px 0;
}

.form-container .textarea-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.desc {
    width: 100%;
    height: 100px;
    resize: none;
    overflow: scroll;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 15px 35px 15px 15px !important;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.err-msg {
    margin-top: 30px;
    color: #FF6a74;
}

.suc-msg {
    margin-top: 30px;
    color: #93C47D;
}