.wrapper.home {
    width: 1100px;
    height: 700px;
    margin-top: 80px;
    transition: width .2s ease;
    justify-content: normal;
    align-items: normal;
}

.active .wrapper.home {
    width: 1300px;
}

.cart-icon {
    position: relative;
    top: 10px;
    font-size: 2em;
    color: #fff;
    line-height: 57px;
    margin-left: 40px;
}

.navigation .quantity {
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 35px;
    right: 274px;
    padding: 1px 4px;
    font-size: .6em;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0;
    padding: 0 15px;
    overflow: scroll;
}

.item {
    margin-bottom: 50px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.active .list {
    width: 75%;
}

.cart-box {
    position: fixed;
    top: 0;
    background: transparent;
    left: 100%;
    width: 300px;
    height: 100%;
    border: none;
    border-left: 2px solid rgba(255, 255, 255, .5);
    border-radius: 0;
}

.cart-box h1 {
    color: #fff;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.cart-box .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-box .checkOut div {
    background: none;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-top: 2px solid rgba(255, 255, 255, .5);
    transition: .2s ease;
}

.cart-box .checkOut div:nth-child(1) {
    border-right: 2px solid rgba(255, 255, 255, .5);
}

.active .cart-box {
    left: calc(100% - 300px);
    transition: transform .18s ease;
    transform: translateX(0);
}

.item img {
    height: 200px;
    width: 100%;
}

























